body{
  background-color: ghostwhite
    }
    h1{color: firebrick;
       text-shadow: 2px 2px black;
    }
    h3{color: firebrick
    }
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: firebrick;
  border-width: 5px;
  width: 50%;
  }
